.App-nav{
    background-color: grey;
    display:flex;
    justify-content: space-around;
}

.active{
    background-color: red;
}

.inactive{
    background-color: orange;
}

body{
    background-color: #B2B09B;
}