.App-nav{
    background-color: grey;
    display:flex;
    justify-content: space-around;
}

.active{
    background-color: red;
}

.inactive{
    background-color: orange;
}

.Clock-container{
    display:flex;
    flex-direction: column;
}